.boxTitle {
    color: white;
}
.box{
    background-color:#eeeded
}
.card{
    text-align: center;
    background-color:rgb(20, 125, 223)
}
.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }